@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #1a1a1a;
  height: 100%;
}
@layer base {
  @font-face {
    font-family: "FashionVictim";
    src:
      local("FashionVictim"),
      url("../assets/font/FashionVictim.woff") format("woff") 
      url("../assets/font/FashionVictim.ttf") format("TrueType")
      url("../assets/font/FashionVictim.eot") format("opentype");
  }

  #animateCss {
    font-family: "FashionVictim";
  }
}

.wrapper {
  width: 60%;
  height: 100%;
  margin: 100px auto;
}
#SVGRoot {
  cursor: pointer;
}
.bounce {
  width: 35%;
}
.arrow {
  width: 15%;
}
.DivClassName {
  width: 50%;
}
.title {
  width: 80%;
}
#svg_2 {
  width: 100%;
}
.animateCss {
  width: 40%;
  font-family: "FashionVictim";
}
.one {
  width: 3%;
}
/* animateJs-6 */

.ml1 {
  font-weight: 900;
  font-size: 2.5em;
}

.ml1 .letter {
  display: inline-block;

  line-height: 0.5em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 {
  top: 0;
}
.ml1 .line2 {
  bottom: 0;
}

/* PrismJS 1.29.0
  https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript */
code[class*="language-"],
pre[class*="language-"] {
  color: #aaa1d4;
  background: 0 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"] {
  padding: 0em;
  margin: 0;
  overflow: auto;
  border-radius: 0.3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8292a2;
}
.token.punctuation {
  color: #e9e911;
}
.token.namespace {
  opacity: 0.7;
}
.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
  color: #f92672;
}
.token.boolean,
.token.number {
  color: #b15454;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #a6e22e;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: #b3b88b;
}
.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
  color: #e6db74;
}
.token.keyword {
  color: #66d9ef;
}
.token.important,
.token.regex {
  color: #fd971f;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.stage,
.ringGsap,
.img {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  user-select: none;
}

.stage {
  overflow: hidden;
  /* background:#000;   */
}
.img > button{
  position: absolute;
}
.stage > div {
  position: absolute;
}
.stage > svg {
  position: absolute;
}
.container-gsap {
  perspective: 2000px;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.basket-left{
  left: 0;
  top: 35%;
}
.basket-right{
  right: 0;
  top: 35%; 
}
.show{
  z-index: 50;
}
.source{
  width: 100%;
  height: 100%;
}
.menuAnimeJs{
  cursor: pointer;
}
.nav-animate{
  color: white;
  display: flex;
  background: #111;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: repeating-linear-gradient(
      0deg,
      hsla(103, 11%, 32%, 0.09) 0px,
      hsla(103, 11%, 32%, 0.09) 1px,
      transparent 1px,
      transparent 11px
      ),
 repeating-linear-gradient(
      90deg,
      hsla(103, 11%, 32%, 0.09) 0px,
      hsla(103, 11%, 32%, 0.09) 1px,
      transparent 1px,
      transparent 11px
    ),
    linear-gradient(90deg, hsl(317, 13%, 6%), hsl(317, 13%, 6%));
}
#demo {
  width: 90vw;
  height: auto;
  max-width: 720px;
  overflow: visible;
  margin: 1rem auto;
}
#icons path {
  fill: white;
}

#stretchy {
  fill: #5da662;
}

#icons g {
  cursor: pointer;
}

#icons rect {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.15);
  stroke-width: 2px;
  rx: 8px;
  ry: 8px;
}
.nav-animate > h2 span {
  font-weight: 700;
  color: #5cceee;
}

.nav-animate a {
  background: #5cceee;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 10px;
}

.nav-animate a:hover {
  background: white;
  color: #5cceee;
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px;
}